<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
   <add name="ConnectionString" connectionString="server=mssql.sql132.cdncenter.net; database=sq_profiles; Integrated Security=false;User ID=sq_profiles;Password=sandershihacker;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <system.web>
    <customErrors defaultRedirect="Errors.aspx" mode="On" />
    <compilation debug="true" targetFramework="4.0" />
    
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="none" />
  </appSettings>
    <system.webServer>
        <httpRedirect enabled="false" />
    </system.webServer>
</configuration>
